{% extends 'base.html' %} {% load static %}

{% block content%}
    <div class="container flow-text">
        <h3>About</h3>
        <p>
            Resource Visualizer is a project done by Ovidiu Cara for the Web Technologies Course at the University
            of Bologna, Italy.
            The project allows you to view data about Art Movements retrieved from two APIs, Wikipedia and CrossRef.
            <br>
            The purpose is to immerse the user in to the rich and wonderful world of  Art Movements,
            by providing both data from Wikipedia, for a more general understanding, and scientific publications from
            CrossRef for a deeper and sciency comprehension.
        </p>
        <h4>Technologies Used</h4>
        <ul>
            <li><a href="https://www.python.org/">Python</a></li>
            <li><a href="https://www.djangoproject.com/">Django Web Framework</a></li>
            <li><a href="/view/?page=HTML">HTML</a></li>
            <li><a href="/view/?page=Cascading_Style_Sheets">CSS</a></li>
            <li><a href="https://jquery.com/">Javascript & JQuery</a></li>
            <li><a href="http://next.materializecss.com/">Materialize Framework</a></li>
            <li><a href="https://www.mediawiki.org/wiki/API:Main_page">Wikipedia API</a></li>
            <li><a href="https://github.com/CrossRef/rest-api-doc">CrossRef API</a></li>
        </ul>
        <br>
    <p>Special Thanks to Wikipedia, Crossref and StackOverflow</p>
    </div>

    <link type="text/css" rel="stylesheet" href="{% static "css/about.css" %}"  media="screen,projection"/>

{% endblock content %}