<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <title>Resource Visualizer</title>
        <meta http-equiv="Content-Type" content="text/html" charset = "UTF-8">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/base.css" %}"  media="screen,projection"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    </head>
    <body>
    <div class="row">
        <nav>
            <div class="container nav-wrapper">
                <div class="row">
                    <div class="col s6 pull-s1 m1 l1">
                        <a href="/" class="brand-logo">
                            <i id="icon" class="fa fa-paint-brush" style="margin-top:15%;,text-shadow: rgb(172, 172, 172) 0px 0px 0px, rgb(184, 184, 184) 1px 1px 0px, rgb(196, 196, 196) 2px 2px 0px, rgb(208, 208, 208) 3px 3px 0px, rgb(221, 221, 221) 4px 4px 0px, rgb(233, 233, 233) 5px 5px 0px; font-size: 27px; color: rgb(63, 193, 201); height: 46px; width: 46px; line-height: 46px; border-radius: 25px ; text-align: center; background-color: rgb(245, 245, 245);"></i>
                        </a>
                    </div>
                    <div class="col s6 m4 offset-m6 l4 offset-l6">
                          <form id="navbar-form" action="/results/" method="GET">
                            <div class="input-field">
                              {% csrf_token %}
                                {{ form }}
                              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                              <i class="material-icons">close</i>
                            </div>
                          </form>
                    </div>
                    <div class="col m1 l1 hide-on-small-and-down">
                        <ul id="nav-mobile" class="right">
                            <li>
                                <a href="about/">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src={% static "images/header-slideshow/birth-venus.jpg" %}>
            </li>
            <li>
                <img src={% static "images/header-slideshow/Af2NQ46copy.jpg" %}>
            </li>
            <li>
                <img src={% static "images/header-slideshow/Skipbrudd_ved_Caprikysten_1822.jpg" %}>
            </li>
            <li>
                <img src={% static "images/header-slideshow/Davids8.jpg" %}>
            </li>
            <li>
                <img src={% static "images/header-slideshow/A_Sunday_on_La_Grande_Jatte,_Georges_Seurat,_1884.png" %}>
            </li>
            <li>
                <img src={% static "images/header-slideshow/great-wave.jpg" %}>
            </li>
        </ul>
    </div>

    {% block content %}

    {% endblock content %}

    <br>
    <footer class="page-footer">
    <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Resource Visualizer</h5>
        <p class="grey-text text-lighten-4">
            Done by Ovidiu Cara for the Web Technologies Course at the University of Bologna, Italy.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Me</h5>
        <ul>
          <li>
              <a class="grey-text text-lighten-3" href="mailto:ovidiu.cara@studio.unibo.it">
                  <i class="material-icons small">contact_mail</i></a>

              </li>
          <li><a class="grey-text text-lighten-3" href="#!">
              <iframe src="https://ghbtns.com/github-btn.html?user=rephlexions&repo=RAVE&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </a></li>
        </ul>
      </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright Ovidiu Cara
    <a class="grey-text text-lighten-4 right" href="/about/">About</a>
    </div>
    </div>
    </footer>
    </body>
</html>
