{% extends "base.html" %} {% load static %}

{% block content %}

    <div class="container">
        <div class="row" id="home-form">
            <div class="col s12 m6 l6 push-l3 push-m3">
                {% include "form.html" %}
            </div>
        </div>
        <h4>Important Art Movements</h4>
        <div class="section">
            <div class="row">
            <div class="col s12 m6 l4">
                <div class="card hoverable medium">
                    <div class="card-image">
                        <a href="/view/?page=Post-Impressionism">
                            <img src="{% static "images/Van_Gogh_-_Starry_Night.jpg" %}">
                        <span class="card-title">Post-Impressionism</span>
                        </a>
                    </div>
                    <div class="card-content">
                        <p>
                            Post-Impressionism is an art movement that developed roughly between 1886 and 1905.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/view/?page=Post-Impressionism">Open Article</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card hoverable medium">
                    <div class="card-image">
                        <a href="/view/?page=Realism (art movement)">
                            <img src="{% static "images/Jean-François_Millet-Gleaners_resize.jpg" %}">
                            <span class="card-title">Realism</span>
                        </a>
                    </div>
                    <div class="card-content">
                        <p>Realism was an artistic movement that began in France in the 1850s, after the 1848 Revolution.</p>
                    </div>
                    <div class="card-action">
                        <a href="/view/?page=Realism (art movement)">Open Article</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card hoverable medium">
                    <div class="card-image" >
                        <a href="/view/?page=Impressionism">
                            <img src="{% static "images/Impressionism-Claude_Monet-soleil-levant.jpg" %}">
                            <span class="card-title">Impressionism</span>
                        </a>
                    </div>
                    <div class="card-content">
                        <p>Impressionism originated with a group of Paris-based artists during the 1870s and 1880s.</p>
                    </div>
                    <div class="card-action">
                        <a href="/view/?page=Impressionism">Open Article</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col s12 m6 l3 l4">
                    <div class="card hoverable medium">
                        <div class="card-image">
                            <a href="/view/?page=Cubism">
                                <img src="{% static "images/Albert_Gleizes_Femme_aux_Phlox.jpg" %}">
                                <span class="card-title">Cubism</span>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>Cubism has been considered to be among the most influential art movements of the 20th century.</p>
                        </div>
                        <div class="card-action">
                          <a href="/view/?page=Cubism">Open Article</a>
                        </div>
                      </div>
                </div>
                <div class="col s12 m6 l3 l4">
                    <div class="card hoverable medium">
                        <div class="card-image">
                            <a href="/view/?page=Surrealism">
                                <img src="{% static "images/Salvadro-Dali-Sleep-via-Bureau-de-Estilo-Renata-Abranchs.jpg" %}">
                                <span class="card-title">Surrealism</span>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>Surrealism is a cultural movement that began in the early 1920s, and is best known for its visual artworks and writings.</p>
                        </div>
                        <div class="card-action">
                          <a href="/view/?page=Surrealism">Open Article</a>
                        </div>
                      </div>
                </div>
                <div class="col s12 m6 l3 l4">
                    <div class="card hoverable medium">
                        <div class="card-image">
                            <a href="/view/?page=Abstract_expressionism">
                                <img src="{% static "images/Abstract-Expressionism-Fluid-Painting-Acrylic-on-Canvas.jpg" %}">
                                <span class="card-title">Abstract Expressionism</span>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>Abstract expressionism is a post–World War II art movement in American painting, developed in New York in the 1940s</p>
                        </div>
                        <div class="card-action">
                          <a href="/view/?page=Abstract_expressionism">Open Article</a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row hidden-row">
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Pop art">
                          <img src="{% static "images/Roy-Lichtenstein-M-Maybe-1965-detail-865x577.jpg" %}">
                          <span class="card-title">Pop Art</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>Pop art is an art movement that emerged in Britain and the United States during the mid- to late-1950s.</p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Pop art">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Baroque">
                            <img src="{% static "images/Janbrueghelark.jpg" %}">
                          <span class="card-title">Baroque</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>
                          Baroque is a highly ornate style of architecture, art and music
                          that flourished in Europe from the early 17th.
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Baroque">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Futurism">
                            <img src="{% static "images/Battle_of_Lights.jpg" %}">
                          <span class="card-title">Futurism</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>Futurism was an artistic and social movement that originated
                          in Italy in the early 20th century. </p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Futurism">Open Article</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row hidden-row">
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Minimalism">
                            <img src="{% static "images/Kazimir_Malevich,_1915,_Black_Suprematic_Square_Tretyakov_Gallery,_Moscow.jpg" %}">
                          <span class="card-title">Minimalism</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>
                          Minimalism began in post–World War II Western art, most strongly with
                          American visual arts in the 1960s and early 1970s.
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Minimalism">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Neoclassicism">
                            <img src="{% static "images/Mengs,_Urteil_des_Paris.jpg"%}">
                          <span class="card-title">Neoclassicism</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>Neoclassicism draws inspiration from the
                          "classical" art and culture of classical antiquity.</p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Neoclassicism">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Romanticism">
                            <img src="{% static "images/Eugène_Delacroix_-_La_liberté_guidant_le_peuple.jpg" %}">
                          <span class="card-title">Romanticism</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>
                          Romanticism is characterized by its emphasis on emotion and individualism as well
                          as glorification of all the past.
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Romanticism">Open Article</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row hidden-row">
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Decadent movement">
                            <img src="{% static "images/Jove_decadent.jpg" %}">
                          <span class="card-title">Decadent movement</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>
                          The Decadent Movement was characterized by self-disgust, sickness at the world and
                          general skepticism.
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Decadent movement">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Photorealism">
                            <img src="{% static "images/John_Baeder.jpg" %}">
                          <span class="card-title">Photorealism</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>
                          Photorealism is a genre of art that encompasses painting, drawing and other graphic media.
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Photorealism">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Psychedelic art">
                            <img src="{% static "images/Tie-dye.png" %}">
                            <span class="card-title">Psychedelic art</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>
                          Psychedelic art is inspired by psychedelic experiences
                          and hallucinations known to follow the ingestion of psychoactive drugs.
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Psychedelic art">Open Article</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row hidden-row">
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Soviet art">
                            <img src="{% static "images/Lenin_attempt.jpg" %}">
                            <span class="card-title">Soviet art</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>Soviet art is the visual art that was produced in the Soviet Union.</p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Soviet art">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Symbolism (arts)">
                            <img src="{% static "images/TheKnightAtTheCrossroads.jpg"%}">
                          <span class="card-title">Symbolism</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>Symbolism was a late nineteenth-century art movement of French, Russian and Belgian origin
                          in poetry and other arts.</p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Symbolism (arts)">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Art Nouveau">
                            <img src="{% static "images/The_Kiss_-_Gustav_Klimt_-_Google_Cultural_Institute.jpg" %}">
                          <span class="card-title">Art Nouveau</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>Art Nouveau is an international style of art, architecture and applied art,
                          especially the decorative arts.</p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Art Nouveau">Open Article</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row hidden-row">
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Caravaggisti">
                            <img src="{% static "images/Christ_amongst_the_Doctors,_oil_on_canvas_painting_by_Orazio_Borgianni.jpg" %}">
                          <span class="card-title">Caravaggisti</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>The Caravaggisti were stylistic followers of the 16th-century
                          Italian Baroque painter Caravaggio.</p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Caravaggisti">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Geometric abstraction">
                            <img src="{% static "images/EyeCandy3NEW.jpg" %}">
                          <span class="card-title">Geometric abstraction</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>Geometric abstraction is a form of abstract art based on the use of geometric forms sometimes</p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Geometric abstraction">Open Article</a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6 l3 l4">
                  <div class="card medium">
                    <div class="card-image">
                        <a href="/view/?page=Afrofuturism">
                            <img src="{% static "images/drexciya.jpg" %}">
                          <span class="card-title">Afrofuturism</span>
                        </a>
                    </div>
                    <div class="card-content">
                      <p>Afrofuturism is a cultural aesthetic that combines elements of science fiction,
                          historical fiction, fantasy, Afrocentrism,</p>
                    </div>
                    <div class="card-action">
                      <a href="/view/?page=Afrofuturism">Open Article</a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row">
                <a href="#" id="load"><i class="col s4 push-s4 waves-circle material-icons medium">arrow_drop_down_circle</i></a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static "js/home-jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/form-jquery.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/home.css" %}"  media="screen,projection"/>

{% endblock content %}
