h4{
    width: 100%;
    text-align: center;
}

span.card-title {
    background-color: rgba(0, 0, 0, .3);
    width: 359px;
}

div.card-content p{
    text-align: left;
}

div.card-image{
    display: block;
    margin: auto;
    height: 332px;
}
div.card-image img{
    height: 100%;
}

div.hidden-row{
    display: none;
}

div.slider{
    position: absolute;
    z-index: -1;
}
#home-form{
    margin-bottom: 10%;
}

#id_search{
    background-color: white;
}