h4{
    width: 100%;
    text-align: center;
}

span.card-title {
    background-color: rgba(0, 0, 0, .3);
    width: 359px;
}

div.card-content p{
    text-align: left;
}

div.card-image{
    display: block;
    margin: auto;
    height: 332px;
}
div.card-image img{
    height: 100%;
}

div.hidden-row{
    display: none;
}

div.slider{
    position: absolute;
    z-index: -1;
}
#home-form{
    margin-bottom: 10%;
    margin-top: 5%;
    clear: bottom;

}

#id_search{
    background-color: white;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

#autocomplete-input{
    color: white;
}

a#load{
    color: #3fc1c9;
}

@media only screen and (max-width: 750px){
    #home-form{
    margin-bottom: 20%;
    clear: bottom;
    }
}

@media only screen and (max-width: 450px){
    #home-form{
    margin-bottom: 30%;
    clear: bottom;
    }
}