.search-results{
    display: none;
}

/*
.row.col{
    clear: both;
}
.col.l3 {

    margin-left: auto;
    left: auto;
    right: auto;
}



.card-content{
    text-align: center;
    width: 250px;
    height: 138px;
}

.card-image{
    width: 250px;
    height: 197px;
}
*/