body{
    text-align: justify;

}
.search-results{
    display: none;
}
.card-title {
    background-color: rgba(0, 0, 0, .3);
}

.brand-logo{
    margin-left: 15%;
}

#nav-mobile{
    margin-right: 15%;
}
div.thumb{
    float: right;
    margin-left: 5%;
    margin-bottom: 5%;
    clear: left;
}
h3{
    clear: both;
}
nav{
    color: #364f6b;
}
div.toc {
    position: fixed;
    float: left;
    right: 80%;
    top: 15%;
    clear: both;
    margin-left: 1%;
    margin-right: 6%;
}

div.row{
    clear: both;
}

div.thumb{
    height: inherit;
    width: inherit;
    max-width: 100%;
}