h4{
    width: 100%;
    text-align: center;
}

span.card-title {
    background-color: rgba(0, 0, 0, .3);
    width: 359px;
}

div.card-content p{
    text-align: left;
    max-height: inherit;
    text-overflow: ellipsis;
}
/* TODO Rework this */
.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
    max-height: 23%;
}

div.card-image{
    display: block;
    margin: auto;
    height: 332px;
}

div.card-image img{
    height: 100%;
}

div.search-result{
    display: none;
}

div.slider{
    position: absolute;
    z-index: -1;
}

#results-form{
    margin-bottom: 10%;
    margin-top: 5%;
    border-radius: 5px;
}

#id_search{
    background-color: white;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

#autocomplete-input{
    color: white;
}