span.card-title {
    background-color: rgba(0, 0, 0, .3);
    width: 359px;
}

div.card-content p{
    text-align: left;
    font-size: small;
    text-overflow: ellipsis;
}

div.card-image{
    display: block;
    margin: auto;
    height: 332px;
}
div.card-image img{
    height: 100%;
}

div.search-result{
    display: none;
}

div.slider{
    position: absolute;
    z-index: -1;
}

#results-form{
    margin-bottom: 5%;
    margin-top: 5%;
}

#id_search{
    background-color: white;
}