<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>RAVE</title>
        <meta http-equiv="Content-Type" content="text/html" charset = "UTF-8">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static "css/rave.css" %}"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    </head>
    <body>
      <nav class="light-blue  lighten-1">
        <div class="nav-wrapper">
          <a href="/home/" class="brand-logo">Tech Web</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">About</a></li>
          </ul>
        </div>
      </nav>

        <div class="container">
        {% block content %}

        {% endblock content %}
        </div>
        <br>
        <footer class="page-footer light-blue lighten-1">
        <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="mailto:ovidiu.cara@studio.unibo.it">Email me</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
        </div>
        <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Ovidiu Cara
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
        </div>
        </footer>
    </body>
</html>